h1 {
    color:darkturquoise

}
.vizphoto {
    height: 200px;
    width: 200px
}

.photoone {
    height: 250px;
    width: 250px
}

body {
    background-color: lightgray;
}

.navbar-brand {
    background-color: darkturquoise;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    font-weight:400
}

.viztwo {
    height: 400px;
    width: 400px;
}

.viztemp { 
    height: 650px;
    width: 650px;
}